$icon-size: 16px;
$icon-button-size: 32px;

body {
  width: 360px;
  height: 480px;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon-button {
  width: $icon-button-size;
  height: $icon-button-size;
}
.icon-button:hover {
  cursor: pointer;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}
