@import "./Extension/colors";

$margin-border: 5px;

.status-component {
  width: 100%;
  height: 54px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    padding-left: $margin-border;
  }
  .right {
    padding-right: $margin-border;
    padding-left: $margin-border;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.avatar {
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  border: 2px solid #2e2e2e;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar:hover {
  cursor: pointer;
}

.avatar-image {
  background-size: cover !important;
  background-repeat: round !important;
}

.settings-button {
  width: 32px;
  height: 32px;
}

.connection-box {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  border: 2px solid rgb(179 175 202);
  margin-right: 10px;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}

.connecting {
  background-color: yellow;
}
