@import "Extension/colors";

.chat-list-component {
  width: 100%;
  background-color: $plain-color;
  display: flex;
  flex: 1;
  flex-direction: column;

  .chat-list-entry {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;

    img {
      max-width: 32px;
    }
  }
  .chat-list-entry:hover {
    cursor: pointer;
    background-color: #ebebeb;
  }
}
