@import "Extension/colors";

.chat-component {
  width: 100%;
  background-color: $plain-color;
  display: flex;
  flex-direction: column;
  flex: 1;

  .content {
    height: 100%;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 100%;
    flex: 1;

    textarea {
      width: 100%;
      min-height: 26px;;
      resize: none;
    }
  }
}
