.set-user-modal {
  display: flex;
  flex-direction: column;

  .input-row {
    display: flex;
    flex-direction: row;
    .left {
      display: flex;
      flex-direction: column;
    }
    .right {
      display: flex;
      flex-direction: column;
    }
  }
  .image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      width: 186px;
      height: 186px;
      margin: 1em;
    }
  }
  .actions-row {

  }

}
